/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4285f4;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  width: 100%;
  height: 10px;
}


.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  line-height: 60px;
}



.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #3367D6;
  color: #fefefe;
  overflow-y: auto;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: auto;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
    position: absolute;
    margin: 0 auto;
    /* Height of the header */
    min-height: 100%;
    width:100%;
}

/** Larger Screens - desktops and tablets **/
@media all {
  .app-bar {
    position: relative;
  }

  .app-bar-container {
    display: block;
    height: 30px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 20px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  nav {
    display: block;
    margin-top: 130px;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 130px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }

  .navdrawer-container {
    position: relative;
    margin-top: 0;
  }
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}

.whosHome {
}

.whosHomeMin
{
    float: left;
    width: 64px;
    margin: 0 0 0 2px;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
    z-index: 10;

    -webkit-transition: 0.5s;  /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.whosHomeMax
{
    position: absolute;     /* Must be absolute or relative for z-index to work. */
    border: 1px solid #000;
    background: #000;
    padding: 5px;
    margin: 0;
    overflow: hidden;
    /*display: inline-block;*/
    z-index: 10;    /* So divs overlap the temperature bar. */

    -webkit-transition: 0.5s;  /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.whosHomeMax dd{
    margin: 0;
    padding: 0;
    min-width: 10px;
    min-height: 1.5em;
}

.whosHomeMax dt{
    font-weight: bold;
}

dd.whosHome {
    margin: 0;
}

div.displayUser
{
    position: absolute;     /* Must be absolute or relative for z-index to work. */
    border: 1px solid #000;
    background: #000;
    padding: 5px;
    margin: 0;
    overflow: hidden;
    /*display: inline-block;*/
    z-index: 10;    /* So divs overlap the temperature bar. */
}

.displayNone{
    /*display: none;*/
    visibility: hidden;
    opacity:0;
}

.displayVisible{
    /*display: block;*/
    visibility:  visible;
    opacity:1;
}

dl.displayUser
{
    border: 1px solid #000;
    background-color: #ddd;
    height: 100%;
    text-align: center;
    margin: 0;
    float: left;
    padding: 0 5px 0 5px;
}

dl.displayUserTitle
{
    border: 1px solid #000;
    background-color: #ddd;
    height: 100%;
    text-align: center;
    margin: 0 5px 0 0;
    float: left;
    padding: 0 5px 0 5px;
}

.displayUser dt {
    font-weight: bold;
}

.displayUser dd
{
    margin: 0;
    padding: 0;
    min-width: 10px;
    min-height: 1.5em;
}

* { -moz-box-sizing: border-box; box-sizing: border-box; }

div.temperature
{
    width:2rem;
    margin-right:2rem;
    float:left;
    /*position:relative;*/
    height:10em;
}

meter.temperature
{
    width:10em;
    position: absolute;     /* Must be absolute or relative for z-index to work. */
    display: block;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    background: #fff;
    /*width: 300px; height: 20px;*/
    border-radius: 10px; border: 5px double #aaa;
    display: block;
    -webkit-transform-origin: center left;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform-origin: center left;
    transform: rotate(-90deg) translateX(-100%);
    margin-left: 1em;
    z-index: 1;         /* So pop-up divs overlap these elements. */
}

meter::-webkit-meter-bar {
    float: left;
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 5px;
    -webkit-box-orient: vertical;
}

svg
{
    border: 1px solid #000;
    float: left;
}

div.switch-footprint
{
    padding: 1px;
    float: left;
    border: 1px solid;
}

div.switch-outer
{
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-color: grey;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.switch-unselected
{
    background-color: grey;
}

.switch-selected
{
    background-color: green;
}

div.switch-inner
{
    background-color: black;
    width: 80%;
    height: 40%;
    border-radius: 4px; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div.slider-inner
{
    background-color: black;
    width: 80%;
    height: 20%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

p.switch-display
{
    width: 3em;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    padding-top: 0.8em;
}

.menu
{
    border-style:solid;
    background-color:#00EEEE;
    float:left;
    width: 120px;
    border-width:1px;
}

.menu-edit
{
    display: none;
}

.menu-view
{
    display: inline;
}

.registerDevices
{
    position:relative;
    float: left; 
    width: 800px;
}

.cyclicBuffer
{
    position:relative;
    float: left;
    width: 800px;
}

.cyclicLabel
{
    background-color:#00EEEE;
    width: 45px;
    height: 20mm;
    border-style:solid;
    border-width:1px;
    float:left;
}

.cyclicHeader
{
    width: 28px;
    background-color:#00EEEE;
    border-style:solid;
    border-width:1px;
    float:left;
}

.cyclicBarWrapper
{
  width:7px;
  height:20mm;
  background-color:#CCCCCC;
  position:relative;
  border-color:black;
  border-style:solid;
  border-width:1px;
  float:left;
}

.cyclicBar
{
  width:5px;
  background-color:#999999;
  position:absolute;
  bottom:0;
}

.cyclicBarWrapper:hover
{
  border-color:white;
  background-color:red;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.window{
  border-color:black;
  border-style:solid;
  border-width:1px;
  position: absolute;
}

.window-transition_pos{
  -webkit-transition: width 0.5s, height 0.5s, top 0.1s linear, left 0.1s linear; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s, top 0.1s linear, left 0.1s linear;
}

.window-transition_long{
    -webkit-transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

.window-header{
    background-color:blue;
    height:1.2em;
    width:100%;
    border-width:1px;
    border-color:blue;
    border-style:solid;
    position: absolute;
}

.window-button{
    background-color:grey;
    border-color:black;
    border-style:solid;
    border-width:1px;
    width:1em;
    height:1em;
    float: left;
}

.graph{
    width:100%;
    height:10em;
    position: absolute;
}

.graph-container{
    width:100%;
    height:10em;
    position: absolute;
}

.graphToolTipLine{
    border-width:0.1em;
    border-color:#080808;
    border-style:solid;
    position: absolute;
}

.graphToolTipBox{
    border-width:0.2em;
    padding:0.2em;
    border-color:#080808;
    border-style:solid;
    position: absolute;
    background-color:#080808;
    color:white;
    white-space: nowrap;
    display: inline-block;
}

.graphToolTipBoxLeft{
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-topright: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
}

.graphToolTipBoxRight{
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 0;
    border-radius: 10px;
    border-top-left-radius: 0;
}

.graphLineLabel{
    width:4em;
    display: inline-block;
}
.graphLineIcon{
    width:1em;
    height:1em;
    display: inline-block;
}
