     <div width="100%">
      <div id="people" style="height: 68px;"></div>
      <div id="dials" width="100%">
        <roundswitch id="heatOnOff"></roundswitch>

        <div style="overflow:hidden;" width="100%" height="100%">
            <svg id="dialsSvg" width="100%" height="100%"></svg>
        </div>
      </div>
     </div>
